<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    {{>header}}
    <p>This site creted by Pouria Gholami, Computer Engineering Student and Web Developer</p>
    <img src="./img/Image.jpg" />
    <h2>{{name}}</h2>
    {{>footer}}
</body>

</html>